
.tabla {
  /* margin: 3vh; */
  overflow-x: auto;
  max-width: 97vw;
  background-image: white;
  border-radius: 10px;
  font-size: 13px;
  line-height: normal;
  display: -webkit-box;
  vertical-align: inherit;
  text-align: center !important;
  color: #304891;
  text-indent: initial;
  border-spacing: 10px 0px !important;
  border-collapse: inherit !important;
  text-overflow: ellipsis;
  -webkit-box-pack: center;
}

.tabla th {
  font-size: 15px;
  text-align-last: center;
  padding: 12px;
  text-transform: capitalize;
  text-align: center !important;
  background-color: rgba(114, 114, 114, 0.096);
  max-width: auto;
  border: none !important;
  color: #192a5a;
  vertical-align: middle !important;
  text-align: -webkit-center !important;
}

.tabla td {
  padding: 9px;
  white-space: nowrap;
  color: #000000;
  text-align: center;
  border-top: none !important;
  vertical-align: middle !important;
  border-bottom: 1px solid rgba(187, 196, 197, 0.835);
  text-align: -webkit-center !important;
}