.transparent {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /* border-bottom: none; */
    margin-left: 5px !important;
    background-color: transparent !important;
    border-radius: 0px;
  }
  
  .transparent:disabled {
    background-color: rgba(100, 98, 98, 0.061) !important;
    border-radius: 7px !important;
  }
  